<div class="row row-cols-1 row-cols-sm-3 no-gutters">

  <div class="col mb-4" (click)="select(playlist)" [class.active]="selected === playlist.id"
    *ngFor="let playlist of playlists trackBy trackFn index as i">
    <!-- {{i+1}}. {{ playlist.name}} -->
    <!-- <input type="text" [(ngModel)]="playlist.name"> -->
    <div class="card h-120">
      <img [src]="playlist.images[0].url" class="card-img-top">

      <div class="card-body">
        <h5 class="card-title">{{playlist.name}}</h5>
      </div>
    </div>
  </div>

</div>

{{ checking() }}

<!-- for(let item of list){} -->