<div class="row" *ngIf="album | async as result">

  <div class="col">
    <app-album-card [album]="result"></app-album-card>
  </div>

  <div class="col">
    {{(result)?.name}}

    <audio [src]="currentTrack?.preview_url" class="w-100" controls #audioRef>
    </audio>

    <app-tracks-list [tracks]="tracks | async "
    (trackSelected)="trackSelect($event)"></app-tracks-list>
  </div>

</div>