<!-- .row>.col*2 -->
<div class="row">
  <div class="col">
    <app-playlist-list [playlists]="playlists" 
    [selected]="selected?.id"
    (selectedChange)="selectPlaylistById($event)"></app-playlist-list>

  </div>
  <div class="col">

  </div>
</div>
<div class="row">
  <div class="col">
    <p *ngIf="!selected">Please select playlist</p>
    <ng-container [ngSwitch]="mode" *ngIf="selected">

      <div *ngSwitchDefault>
        <app-playlist-details [playlist]="selected" (edit)="switchToEdit()"></app-playlist-details>
      </div>

      <div *ngSwitchCase="'edit'">
        <app-playlist-edit-form  [playlist]="selected" (cancel)="switchToDetails()" (save)="savePlaylist($event)"></app-playlist-edit-form>
      </div>

    </ng-container>
  </div>
  <div class="col"></div>
</div>
