<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" 
      routerLinkActive="active" 
      routerLink="/">{{title}}</a>
    <button class="navbar-toggler" type="button" (click)="navbarOpen = !navbarOpen">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="navbarOpen">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" 
            routerLinkActive="active" 
            routerLink="/music/search">Music Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" 
            routerLinkActive="active" 
            routerLink="/playlists">Playlists</a>
        </li>
      </ul>
      <div class="navbar-text mr-auto text-white">
        <a (click)="login()">Login</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>